@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
    line-height: 2.5em;
    font-weight: 900;
    padding-bottom: 80px;
    background-image: url(../images/endgrain.png);
    text-align: center;
    margin: 5%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*height: 400px;*/
    padding-top: 10px;
}

/*Crop image of file structure*/
.files {
    object-fit: cover;
    clip:rect(0px,115px,115px,0px);
}

/*Crop results images to cut out whitespace*/
.results {
    object-fit: cover;
    clip:rect(0px,115px,115px,0px);
}

p, ol {
    text-align: left;
    padding-top: 10px;
    margin: 5%;
    font-weight: bold;
}

li {
    font-size: 50;
}

.results-container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  flex-direction: row;
}

.flex-box-container {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.results-container img {
    height: 400px;
}

.cmd {
    background-color: black;
    font-family: Courier New;
    /*padding-top: 30px;*/
    color: white;
    /*text-align: left;*/
    padding: .1rem .3rem .2rem;
    background-clip: padding-box;
}

.bannor {
    background-image: url(http://cutanddrylumber.com/masterfiles/home/images/goldenraintree01.png);
    background-size: 900px 200px;
    margin: auto;
    text-align: center;
}

.our-content {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    max-width: 600px;
    margin: auto;
    line-height: 2.5em;
    padding-top: 71px;
    padding-bottom: 80px;
}

button:hover {
	background-color: orange;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: orange;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.input-group {
  padding-top: 50px;
}

.my-photo {
  background-image: url(../images/treesource Bannor.JPG)
}

